<div class="container">
  <section class="my-5 contact">

    <h1 class="h1-responsive font-weight-bold text-center my-5">Contact us</h1>
    <h3 class="text-center w-responsive mx-auto mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Fugit, error amet numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum quisquam
      eum porro a pariatur veniam.</h3>
  
    <div class="row">
  
      <div class="col-md-9 mb-md-0 mb-5">
        <form [formGroup]="contactForm" class="contact-form">
          <div class="row">
  
            <div class="col-md-6">
                <mat-form-field class="contact-input" appearance="standard">
                    <mat-label>Your name</mat-label>
                    <input matInput type="text" formControlName="userName">
                    <mat-error *ngIf="contactForm.controls.userName.hasError('required')">{{"PleaseEnterYour" | translate}} {{"UserName" | translate}}</mat-error>
                </mat-form-field>
            </div>
 
            <div class="col-md-6">
                <mat-form-field class="contact-input" appearance="standard">
                    <mat-label>Your email</mat-label>
                    <input matInput type="text" formControlName="email">
                    <mat-error *ngIf="contactForm.controls.email.hasError('required')">{{"PleaseEnterYour" | translate}} {{"UserName" | translate}}</mat-error>
                    <mat-error *ngIf="contactForm.controls.email.hasError('required')">Email not valid</mat-error>
                </mat-form-field>
            </div>

  
          </div>
          <div class="row">
  
            <div class="col-md-12">
                <mat-form-field class="contact-input" appearance="standard" style="width: 100%;">
                    <mat-label>Subject</mat-label>
                    <input matInput type="text" formControlName="subject">
                    <mat-error *ngIf="contactForm.controls.subject.hasError('required')">{{"PleaseEnterYour" | translate}} {{"UserName" | translate}}</mat-error>
                </mat-form-field>
            </div>
  
          </div>
          <div class="row">
  
            <div class="col-md-12">
                <mat-form-field class="contact-input" appearance="standard" style="width: 100%;">
                    <mat-label>Message</mat-label>
                    <textarea matInput type="text" formControlName="message"></textarea>
                    <mat-error *ngIf="contactForm.controls.message.hasError('required')">{{"PleaseEnterYour" | translate}} {{"UserName" | translate}}</mat-error>
                </mat-form-field>
            </div>
  
          </div>
          
          <div class="text-center text-md-left ">
            <a mdbBtn (click)="onSubmit()" class="red accent-4" mdbWavesEffect>Send</a>
          </div>
        </form>
  
       
  
      </div>
  
      <div class="col-md-3 text-center">
        <ul class="list-unstyled mb-0">
          <li>
            <mdb-icon fas icon="print" size="2x" class="red-text"></mdb-icon>
            <p>+ 962 7 999 555 44</p>
          </li>
          <li>
            <mdb-icon fas icon="phone" size="2x" class="mt-4 red-text"></mdb-icon>
            <p>+ 962 7 999 555 44</p>
          </li>
          <li>
            <mdb-icon fas icon="envelope" size="2x" class="mt-4 red-text"></mdb-icon>
            <p class="mb-0">JordanAcademy@gmail.com</p>
          </li>
        </ul>
      </div>
  
    </div>
  
  </section>
</div>
