.registerInput{
    width: 300px;
   
}

.RegisterForm{
    text-align: center;
    width: 80%;
    margin-left: 110px;
}

.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
}

.invalid{
    color:#f44336;
}

.ar{
    text-align: right;
}

.UserName{
    width:35%;
}

.Email{
    width:55%;
    margin-left: 30px;
}

.RightInput{
    margin-left: 30px;
}

.Image{
    width: 38%;
}





