
.RegisterForm{
    text-align: center;
    width: 80%;
    margin-left: 110px;
}

.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
}

.invalid{
    color:#f44336;
}

.ar{
    text-align: right;
}

.card-div{
    left: 10%;
    right: 10%;
    margin-top: 150px;
}

.submit{
    margin-top: 30px;
}

.login{
    margin-top: 30px;
}





