.cover{
    height: 300px;
    width: 600px;
    margin-top: 50px;
}
  
.cover-section{
    height: 600px;
}

.info-section{
    height: 600px;
}

.courses-section{
    height: 600px;
}

.course-card{
    height: 300px;
}