<div class="container" *ngIf="user">
    <div class="row">
        <div class="card-div text-center col-md-8">
            <mdb-card class="z-depth-5">
                <!--Card content-->
                <mdb-card-body>
              
                <!--Avatar-->
                <div class="avatar mx-auto position-relative">
                    <img style="width: 100px;" src="{{apiRoot}}/{{userImagePath}}" class="rounded-circle">
                    <i class="fas fa-edit" (click)="file.click()"><input type="file" (change)="updateUserImage(file.files)" style="display:none" #file></i>
                    
                </div>
                  <!--Title-->
                  <!-- <mdb-card-title>
                    <h1>My profile</h1>
                  </mdb-card-title> -->
              
                  <mdb-card-text> 
                    <form [formGroup]="userForm" >
                        <mat-form-field class=" col-md-5 {{currentLang}}" appearance="standard" >
                            <mat-label>{{"UserName" | translate}}</mat-label>
                            <input matInput type="text" formControlName="userName">
                            <mat-error *ngIf="userForm.controls.userName.hasError('required')">{{"PleaseEnterYour" | translate}} {{"UserName" | translate}}</mat-error>
                            <mat-error *ngIf="userForm.controls.userName.hasError('minlength')">{{"UserName" | translate}} {{"MustBeAtLeast" | translate}} 5 {{"CharactersLong" | translate}}</mat-error>
                            <mat-error *ngIf="userForm.controls.userName.hasError('maxlength')">{{"UserName" | translate}} {{"Can'tBeAbove" | translate}} 50 {{"CharactersLong" | translate}}</mat-error>
                        </mat-form-field>
                        <mat-form-field class=" col-md-7 {{currentLang}}" appearance="standard">
                            <mat-label>{{"Email" | translate}}</mat-label>
                            <input matInput type="text" formControlName="email" placeholder="Ex. pat@example.com">
                            <mat-error *ngIf="userForm.controls.email.hasError('required')">{{"PleaseEnterYour" | translate}} {{"Email" | translate}}</mat-error>
                            <mat-error *ngIf="userForm.controls.email.hasError('email')">{{"PleaseEnterValidEmail" | translate}}</mat-error>
                        </mat-form-field>
    
                        <mat-form-field class="col-md-6 {{currentLang}}" appearance="standard">
                            <mat-label>{{"FirstName" | translate}} (English)</mat-label>
                            <input matInput type="text" formControlName="firstNameEn">
                            <mat-error *ngIf="userForm.controls.firstNameEn.hasError('required')">{{"PleaseEnterYour" | translate}} {{"FirstName" | translate}}</mat-error>
                            <mat-error *ngIf="userForm.controls.firstNameEn.hasError('minlength')">{{"FirstName" | translate}} {{"MustBeAtLeast" | translate}} 3 {{"CharactersLong" | translate}}</mat-error>
                            <mat-error *ngIf="userForm.controls.firstNameEn.hasError('maxlength')">{{"FirstName" | translate}} {{"Can'tBeAbove" | translate}} 25 {{"CharactersLong" | translate}}</mat-error>
                        </mat-form-field>
                        <mat-form-field class="col-md-6  {{currentLang}}" appearance="standard">
                            <mat-label>{{"LastName" | translate}} (English)</mat-label>
                            <input matInput type="text" formControlName="lastNameEn">
                            <mat-error *ngIf="userForm.controls.lastNameEn.hasError('required')">{{"PleaseEnterYour" | translate}} {{"LastName" | translate}}</mat-error>
                            <mat-error *ngIf="userForm.controls.lastNameEn.hasError('minlength')">{{"LastName" | translate}} {{"MustBeAtLeast" | translate}} 3 {{"CharactersLong" | translate}}</mat-error>
                            <mat-error *ngIf="userForm.controls.lastNameEn.hasError('maxlength')">{{"LastName" | translate}} {{"Can'tBeAbove" | translate}} 25 {{"CharactersLong" | translate}}</mat-error>
                        </mat-form-field>
    
                        <mat-form-field class="col-md-6  {{currentLang}}" appearance="standard">
                            <mat-label>{{"FirstName" | translate}} (عربي)</mat-label>
                            <input matInput type="text" formControlName="firstNameAr">
                            <mat-error *ngIf="userForm.controls.firstNameAr.hasError('required')">{{"PleaseEnterYour" | translate}} {{"FirstName" | translate}}</mat-error>
                            <mat-error *ngIf="userForm.controls.firstNameAr.hasError('minlength')">{{"FirstName" | translate}} {{"MustBeAtLeast" | translate}} 3 {{"CharactersLong" | translate}}</mat-error>
                            <mat-error *ngIf="userForm.controls.firstNameAr.hasError('maxlength')">{{"FirstName" | translate}} {{"Can'tBeAbove" | translate}} 25 {{"CharactersLong" | translate}}</mat-error>
                        </mat-form-field>
                        <mat-form-field class="col-md-6  {{currentLang}}" appearance="standard">
                            <mat-label>{{"LastName" | translate}} (عربي)</mat-label>
                            <input matInput type="text" formControlName="lastNameAr">
                            <mat-error *ngIf="userForm.controls.firstNameAr.hasError('required')">{{"PleaseEnterYour" | translate}} {{"LastName" | translate}}</mat-error>
                            <mat-error *ngIf="userForm.controls.firstNameAr.hasError('minlength')">{{"LastName" | translate}} {{"MustBeAtLeast" | translate}} 3 {{"CharactersLong" | translate}}</mat-error>
                            <mat-error *ngIf="userForm.controls.firstNameAr.hasError('maxlength')">{{"LastName" | translate}} {{"Can'tBeAbove" | translate}} 25 {{"CharactersLong" | translate}}</mat-error>
                        </mat-form-field>
    
                        <mat-form-field class="col-md-6 {{currentLang}}" color="accent" appearance="standard">
                            <mat-label>{{"DateOfBirth" | translate}}</mat-label>
                            <input matInput [matDatepicker]="picker1" formControlName="dateOfBirth">
                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                            <mat-datepicker #picker1></mat-datepicker>
                            <mat-error *ngIf="userForm.controls.dateOfBirth.hasError('required')">{{"PleaseEnterYour" | translate}} {{"DateOfBirth" | translate}}</mat-error>
                          </mat-form-field>
                        <mat-form-field class="col-md-6 {{currentLang}}" appearance="standard">
                            <mat-label>{{"PhoneNumber" | translate}}</mat-label>
                            <input matInput type="tel" formControlName="phoneNumber" placeholder="+962799999999">
                            <mat-error *ngIf="userForm.controls.phoneNumber.hasError('required')">{{"PleaseEnterYour" | translate}} {{"PhoneNumber" | translate}}</mat-error>
                            <mat-error *ngIf="userForm.controls.phoneNumber.hasError('pattern')">Phone number is invalid</mat-error>
                            <mat-error *ngIf="userForm.controls.phoneNumber.hasError('minlength')">{{"PhoneNumber" | translate}} {{"MustBeAtLeast" | translate}} 10 {{"Numbers" | translate}}</mat-error>
                            <mat-error *ngIf="userForm.controls.phoneNumber.hasError('maxlength')">{{"PhoneNumber" | translate}} {{"Can'tBeAbove" | translate}} 13 {{"Numbers" | translate}}</mat-error>
                        </mat-form-field>
    
                        <mat-form-field class="col-md-3 {{currentLang}}" appearance="standard">
                            <mat-label>{{"City" | translate}}</mat-label>
                            <input matInput type="text" formControlName="city">
                            <mat-error *ngIf="userForm.controls.city.hasError('required')">{{"PleaseEnterYour" | translate}} {{"City" | translate}}</mat-error>
                            <mat-error *ngIf="userForm.controls.city.hasError('minlength')">{{"City" | translate}} {{"MustBeAtLeast" | translate}} 3 {{"CharactersLong" | translate}}</mat-error>
                            <mat-error *ngIf="userForm.controls.city.hasError('maxlength')">{{"City" | translate}} {{"Can'tBeAbove" | translate}} 25 {{"CharactersLong" | translate}}</mat-error>
                        </mat-form-field>
                        <mat-form-field class="col-md-9 {{currentLang}}" appearance="standard">
                            <mat-label>{{"Address" | translate}}</mat-label>
                            <input matInput type="text" formControlName="address">
                            <mat-error *ngIf="userForm.controls.address.hasError('required')">{{"PleaseEnterYour" | translate}} {{"Address" | translate}}</mat-error>
                            <mat-error *ngIf="userForm.controls.address.hasError('minlength')">{{"Address" | translate}} {{"MustBeAtLeast" | translate}} 5 {{"CharactersLong" | translate}}</mat-error>
                            <mat-error *ngIf="userForm.controls.address.hasError('maxlength')">{{"Address" | translate}} {{"Can'tBeAbove" | translate}} 20 {{"CharactersLong" | translate}}</mat-error>
                        </mat-form-field>
    
                        <mat-radio-group class="gender"  aria-label="Select your gender" formControlName="gender" >
                            <mat-label class="col-md-3">{{"Gender" | translate}}</mat-label>
                            <mat-radio-button class="col-md-3"  style="margin-top: 35px;" color="warn" value="Male">{{"Male" | translate}}</mat-radio-button>
                            <mat-radio-button class="col-md-3" style="margin-top: 35px;" color="warn" value="Female">{{"Female" | translate}}</mat-radio-button>
                        </mat-radio-group>
    
                        <button mdbBtn class="submit col-md-4" type="submit" color="danger" [outline]="true" mdbWavesEffect
                            (click)="updateUserInfoById()">Save</button>
                    </form>
    
                  </mdb-card-text>
              
                </mdb-card-body>
              </mdb-card>
        </div>

        <div class="col-md-3">

            <mdb-card class="text-center z-depth-5">
                
                <mdb-card-title>
                    <h1>Reset password</h1>
                </mdb-card-title>
        
              <mdb-card-body>
                <!--Name-->
                <mdb-card-title>
                    <form [formGroup]="resetPasswordForm" >

                        <mat-form-field class="col-md-12" appearance="standard">
                            <mat-label>Old password</mat-label>
                            <input matInput type="password" formControlName="oldPassword">
                            <mat-error *ngIf="resetPasswordForm.controls.oldPassword.hasError('required')">Old password is required</mat-error>
                        </mat-form-field>

                        <mat-form-field class="col-md-12" appearance="standard">
                            <mat-label>New password</mat-label>
                            <input matInput type="password" formControlName="newPassword">
                            <mat-error *ngIf="resetPasswordForm.controls.newPassword.hasError('required')">New password is required</mat-error>
                            <mat-error *ngIf="resetPasswordForm.controls.newPassword.hasError('minlength')">Password can't be less than 8 Characters long</mat-error>
                            <mat-error *ngIf="resetPasswordForm.controls.newPassword.hasError('maxlength')">Password can't be above than 200 Characters long</mat-error>
                        </mat-form-field>

                        <mat-form-field class="col-md-12" appearance="standard">
                            <mat-label>Confirm password</mat-label>
                            <input matInput type="password" formControlName="confirmedPassword">
                            <mat-error *ngIf="resetPasswordForm.controls.confirmedPassword.hasError('required')">New password confirm is required</mat-error>
                            <mat-error *ngIf="resetPasswordForm.controls.newPassword.value != resetPasswordForm.controls.confirmedPassword.value">Passwords must matching</mat-error>
                        </mat-form-field>

                        <button mdbBtn (click)="resetPassword()" class="submit col-md-6" type="submit" color="danger" [disabled]="resetPasswordForm.invalid" [outline]="true" mdbWavesEffect>Save</button>
                    </form>
                </mdb-card-title>

              </mdb-card-body>
            </mdb-card>
        
          </div>
    </div>
    
</div>
