// .navbar{
//     justify-content: space-between;
// }

// .navbar span{
//     cursor: pointer;
// }
.my-container{
    margin-top: 100px;
    min-height: 500px;
}

// .client span {
//     padding-right: 2rem;
//     font-size: 25px;
// }

// span {
//     padding-right: 2rem;
//     font-size: 25px;
// }

// .Logo{
//     font-size: 30px;
//     color:#d61027;
// }

// .lang{
//     cursor: pointer;
// }

// .auth{
//     margin-left: 125px;
// }

.container{
    margin-top: 100px;
}

