<mdb-navbar [ngStyle]="{'direction': sharedService.textDirection}" 
*ngIf="!authService.isLoggedIn() && !roles.includes('Admin') || !roles.includes('Trainer')"
  class="navbar2" SideClass="navbar fixed-top navbar-expand-lg navbar-dark danger-color-dark scrolling-navbar z-depth-3 intro-fixed-nav" [containerInside]="false">

  <mdb-navbar-brand class="col-md-2 {{currentLang}}">
      <a class="navbar-brand"><img src="../../../assets/images/logo.png" style="height: 35px;"></a>
  </mdb-navbar-brand>

  <links class="navContent">
      <ul class="navbar-nav mr-auto col-md-6">
          <li class="nav-item hoverable h4-responsive links waves-light" mdbWavesEffect>
              <a class="nav-link" routerLink="../public/home">{{"Home" | translate}} <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item hoverable h4-responsive links waves-light" mdbWavesEffect>
              <a class="nav-link" routerLink="../public/courses">{{"Courses" | translate}}</a>
          </li>
          <li *ngIf="sharedService.isLoggedIn()" class="nav-item hoverable h4-responsive links waves-light" mdbWavesEffect>
            <a class="nav-link" routerLink="../client/enrollments">{{"Enrollments" | translate}}</a>
        </li>
          <li class="nav-item hoverable h4-responsive links waves-light" mdbWavesEffect>
            <a class="nav-link" routerLink="../public/testimonials">{{"Testimonials" | translate}}</a>
          </li>
          <li class="nav-item hoverable h4-responsive links waves-light" mdbWavesEffect>
            <a class="nav-link" routerLink="../public/about">{{"About" | translate}}</a>
          </li>
          <li class="nav-item hoverable h4-responsive links waves-light" mdbWavesEffect>
              <a class="nav-link" routerLink="../public/contact">{{"Contact" | translate}}</a>
          </li>
      </ul>
      
      <div class="row col-md-4">
        <ul *ngIf="!authService.isLoggedIn()" class="navbar-nav mr-auto">
          <li class="nav-item hoverable h4-responsive links waves-light" mdbWavesEffect>
            <a class="nav-link" routerLink="../auth/register">{{"Register" | translate}}</a>
          </li>
          <li class="nav-item hoverable h4-responsive links waves-light" mdbWavesEffect>
            <a class="nav-link" routerLink="../auth/login">{{"Login" | translate}}</a>
          </li>
        </ul>
        <ul *ngIf="authService.isLoggedIn()" class="navbar-nav mr-auto logged-in">
          <div class="btn-group dropdown" mdbDropdown>
            <a mdbDropdownToggle mdbWavesEffect type="button" class=" waves-light" mdbWavesEffect
               style="height: auto; width: 35px">
              <img src="{{apiRoot}}/{{(user | async)?.User_Image_Path}}" alt=""
                   class="img-fluid rounded-circle z-depth-0" ></a>
            <div class="dropdown-menu dropdown-primary">
              <a class="dropdown-item" [routerLink]="['../../client/user-profile', userId]" >{{"Profile" | translate}}</a>
              <a class="dropdown-item" (click)="logout()">{{"Logout" | translate}}</a>
            </div>
          </div>
          <li [routerLink]="['../../client/user-profile', userId]" *ngIf="getCurrentLang() == 'en'" class="nav-item waves-light user-name" mdbWavesEffect>
            <a class="nav-link"> {{(user | async)?.First_Name_En}} {{(user | async)?.Last_Name_En}}</a>
            <!-- <a class="nav-link">{{firstNameEn}} {{lastNameEn}}</a> -->
          </li>
          <li *ngIf="getCurrentLang() == 'ar'" class="nav-item waves-light" mdbWavesEffect>
            <a class="nav-link"> {{(user | async)?.First_Name_Ar}} {{(user | async)?.Last_Name_Ar}}</a>
            <!-- <a class="nav-link">{{firstNameAr}} {{lastNameAr}}</a> -->
          </li>
      </ul>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item waves-light" mdbWavesEffect>
          <a aria-haspopup="true" >
            <button mat-icon-button [matMenuTriggerFor]="menu" >
                <mat-icon>arrow_drop_down</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button (click)="sharedService.onLangChange('en'); setCurrentLang('en')" mat-menu-item>
                  <span>English</span>
                </button>
                <button (click)="sharedService.onLangChange('ar'); setCurrentLang('ar')" mat-menu-item>
                  <span>عربي</span>
                </button>
              </mat-menu>
            <i class="fas fa-globe lang"></i>
        </a>
        </li>
      </ul>
      </div>

  </links>

</mdb-navbar>




<!-- <ul class="nav justify-content-end grey lighten-4 py-4" style="position: fixed;"
  *ngIf="authService.isLoggedIn() && roles.includes('Admin') || roles.includes('Trainer')" style="height: 60px;">
  <li *ngIf="getCurrentLang() == 'en'" class="nav-item waves-light user-name" mdbWavesEffect>
    <a class="nav-link">{{firstNameEn}} {{lastNameEn}}</a>
  </li>
  <li *ngIf="getCurrentLang() == 'ar'" class="nav-item waves-light" mdbWavesEffect>
    <a class="nav-link">{{firstNameAr}} {{lastNameAr}}</a>
  </li>
  <li class="nav-item" style="margin-right: 40px;">
    <div class="btn-group dropdown" mdbDropdown>
      <a mdbDropdownToggle mdbWavesEffect type="button" class="dropdown-toggle waves-light" mdbWavesEffect
         style="height: auto; width: 30px">
        <img src="{{apiRoot}}/{{userImagePath}}" alt=""
             class="img-fluid rounded-circle z-depth-0" ></a>
      <div class="dropdown-menu dropdown-primary">
        <a class="dropdown-item" [routerLink]="['../../client/user-profile', userId]" >Profile</a>
        <a class="dropdown-item" (click)="logout()">Logout</a>
      </div>
    </div>
  </li>
</ul> -->



<!-- 
<mdb-navbar *hasPermission="['List_AllUsers']" SideClass="navbar fixed-top navbar-expand-lg navbar-light grey lighten-3" [containerInside]="false">

  <mdb-navbar-brand><a class="navbar-brand" href="#">Navbar</a></mdb-navbar-brand>

  <links>

    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item">
        <a class="nav-link">
          <div class="btn-group" mdbDropdown>
            <mdb-icon fas icon="user" mdbDropdownToggle></mdb-icon>
            <div class="dropdown-menu dropdown-menu-right dropdown-primary">
              <a class="dropdown-item" [routerLink]="['../../client/user-profile', userId]" >Profile</a>
              <div class="divider dropdown-divider"></div>
              <a class="dropdown-item" (click)="logout()">Logout</a>
            </div>
          </div>
        </a>
      </li>
    </ul>
  </links>

</mdb-navbar> -->



