.navContent{
    justify-content: space-between;
}

.Logo{
    height: 35px;
   
}

.links{
    border-radius: 30px;
}

.user-name{
    font-size: 12px;
}

.home{
    margin-left: 100px;
}


.ar{
    text-align: right;
    float: right;
}

.en{
    text-align: left;
    float: left;
}


