.course-level{
    margin-top: 30px;
}

.course-enroll{
    border-left: 2px solid #dbdbdb;
}

.course-info{
    border-bottom: 2px solid #dbdbdb;
    height: 405px;
}

.marks{
    border-right: 2px solid #dbdbdb;
}


