<div class="container">
    <div class="row" >
      <img src="../../../../assets/images/no-data.png" class="no-data" *ngIf="!enrollmentsList.length">
      
        <ng-container *ngFor="let element of enrollmentsList">
            <div class="col-md-3 animated pulse wow course-card" [routerLink]="['../course-page', element.courseId]" data-wow-duration="2s" data-wow-delay="0.7">
              <mdb-card [cascade]="true" [narrower]="true" class="hoverable">
                <div class="z-depth-3 view-cascade overlay waves-light" style="border-radius: 10px;" mdbWavesEffect>
                  <mdb-card-img class="courseImage" src="{{apiRoot}}/{{element.courseImagePath}}"></mdb-card-img>
                  <a>
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>
          
                <mdb-card-body style="margin-left: 15px;" [cascade]="true" class=" pb-0 px-0">
                  <h3 class="red-text">{{element.courseName}}</h3>
                  <h5 class="card-title">
                      <mdb-icon fas icon="level-up-alt" style="color: red"></mdb-icon>
                      {{element.courseLevel}}</h5>
                  <h5 class="card-title">
                      <mdb-icon far icon="calendar-alt" style="color: red"></mdb-icon>
                      {{element.startDate | date:'shortDate'}} - {{element.endDate | date:'shortDate'}}</h5>
                 
                </mdb-card-body>
              </mdb-card>
            </div>
        </ng-container>
    </div>
    
</div>
