<div class="container">
    <div class="jumbotron">
        <div class="card">
            <div class="card-header card-header-danger card-header-icon">
            </div>
            <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <h1>Enter new password</h1>
                <form [formGroup]="forgotPasswordForm" (ngSubmit)= "forgotPassword()">
                    <mat-form-field class="f-input" appearance="standard">
                        <mat-label>New password</mat-label>
                        <input matInput type="text" formControlName="newPassword">
                        <mat-error *ngIf="forgotPasswordForm.controls.newPassword.hasError('required')">New password is required</mat-error>
                    </mat-form-field>
                    <mat-form-field class="f-input" appearance="standard">
                        <mat-label>New password confirm</mat-label>
                        <input matInput type="password" formControlName="newPasswordConfirmed">
                        <mat-error *ngIf="forgotPasswordForm.controls.newPasswordConfirmed.hasError('required')">New password confirm is required</mat-error>
                    </mat-form-field>
                    <div class="form-group submet">
                        <button mat-raised-button color="accent" [disabled]="forgotPasswordForm.invalid">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

    </div>
</div>



