<div class="container">
    <div class="card-div text-center col-md-7 ml-10">
        <mdb-card class="z-depth-5 animated pulse wow">
            <mdb-card-header class="danger-color-dark">
               
            </mdb-card-header>
            <!--Card content-->
            <mdb-card-body>
          
              <!--Title-->
              <mdb-card-title>
                <h1>Reset password</h1>
              </mdb-card-title>
          
              <mdb-card-text> 
                <form [formGroup]="forgotPasswordForm" (ngSubmit)= "forgotPassword()">
                    <mat-form-field class="col-md-9" appearance="standard">
                        <mat-label>New password</mat-label>
                        <input matInput type="password" formControlName="newPassword">
                        <mat-error *ngIf="forgotPasswordForm.controls.newPassword.hasError('required')">New password is required</mat-error>
                        <mat-error *ngIf="forgotPasswordForm.controls.newPassword.hasError('minlength')">Password can't be less than 8 Characters long</mat-error>
                        <mat-error *ngIf="forgotPasswordForm.controls.newPassword.hasError('maxlength')">Password can't be above than 200 Characters long</mat-error>
                    </mat-form-field>
                    <mat-form-field class="col-md-9" appearance="standard">
                        <mat-label>Confirm password</mat-label>
                        <input matInput (keyup)="confirmPassword($event)" type="password" formControlName="confirmedPassword">
                        <mat-error *ngIf="forgotPasswordForm.controls.confirmedPassword.hasError('required')">New password confirm is required</mat-error>
                        <mat-error *ngIf="forgotPasswordForm.controls.confirmedPassword.invalid">Passwords must matching</mat-error>
                    </mat-form-field>
                    <button mdbBtn class="submit col-md-3" type="submit" color="danger" [disabled]="forgotPasswordForm.invalid" [outline]="true" mdbWavesEffect>Save</button>
                </form>
              </mdb-card-text>
          
            </mdb-card-body>
          </mdb-card>
    </div>
</div>



