.filters {
    width: 250px;
    height: 500px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    border-right: 1px solid #dbdbdb;
}

.course-card{
    margin-bottom: 30px;
    height: 300px;
    cursor: pointer;
}

.courseImage{
    height: 140px;
    width: 220px;
}

mdb-card-img ~ img{
    height: 140px;
    width: 220px;
}

.enrolment-nav{
    width: 100%;
    height: 30px;
    border-bottom: 1px solid #dbdbdb;
    margin-bottom: 40px;
}

.filter-by{
    color: red;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #dbdbdb;
}

.search-icons{
    color: red;
    margin-top: 10px;
   // margin-left: 20px;
}

.filter-by-text{
    border-bottom: 1px solid #dbdbdb;
}

.courses-title{
    width: 100%;
    height: 75px;
    font-family:  'Times New Roman', serif;
    font-weight: 550;
}

.no-data{
    width: 550px;
}

